/* Container */

box-sizing: border-box;

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;

position: relative;
width: 412px;
height: 434px;

background: rgba(60, 93, 102, 0.91);
border-top: 1.10776px solid #E7E5E4;
box-shadow: 0px 10px 15px -3px rgba(0, 79, 59, 0.05), 0px 4px 6px -4px rgba(0, 79, 59, 0.05), 0px 10px 15px -3px rgba(0, 79, 59, 0.05), 0px 4px 6px -4px rgba(0, 79, 59, 0.05);


/* Frame 1171275901 */

/* Layout automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 354px;
height: 308px;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

width: 354px;
height: 36px;


/* Auto layout por dentro */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text Input */

box-sizing: border-box;

/* Layout automático */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 16px 0px 36px;

position: absolute;
width: 354px;
height: 36px;
left: 0px;
top: 0px;

background: rgba(242, 239, 232, 0.6);
border: 1px solid #F2EFE8;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
border-radius: 100px;


/* Buscar jogos... */

width: 97px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* idêntico à altura da caixa */

color: #19272B;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
width: 16px;
height: 16px;
left: 12px;
top: 10px;



/* Vector */

position: absolute;
left: 12.5%;
right: 20.83%;
top: 12.5%;
bottom: 20.83%;

border: 1.33333px solid #19272B;


/* Vector */

position: absolute;
left: 69.58%;
right: 12.5%;
top: 69.58%;
bottom: 12.5%;

border: 1.33333px solid #19272B;


/* Navigation */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 354px;
height: 256px;


/* Auto layout por dentro */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Layout automático */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 4px;

width: 354px;
height: 36px;

background: #19272B;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
border-radius: 10px;

/* Auto layout por dentro */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* home-default */

width: 17.39px;
height: 16px;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 3.54%;
right: 4.46%;
top: 3.85%;
bottom: 3.85%;

border: 0.8px solid #F2EFE8;


/* Vector */

position: absolute;
left: 31.14%;
right: 32.06%;
top: 60.26%;
bottom: 3.85%;

border: 0.615385px solid #F2EFE8;


/* Vector */

position: absolute;
left: 49.54%;
right: 9.06%;
top: 19.23%;
bottom: 39.74%;

opacity: 0.55;
border: 0.430769px solid #F2EFE8;


/*  Início */

width: 44px;
height: 20px;

font-family: 'Sora';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #F2EFE8;


/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* Link */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 6px;

width: 68px;
height: 36px;

border-radius: 10px;

/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* loja-default */

width: 16px;
height: 16px;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 12.5%;
bottom: 58.33%;

border: 0.866667px solid #F2EFE8;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 41.67%;
bottom: 4.17%;

border: 0.866667px solid #F2EFE8;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 62.5%;
bottom: 37.5%;

opacity: 0.55;
border: 0.466667px solid #F2EFE8;


/*  Loja */

width: 30px;
height: 20px;

font-family: 'Sora';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #F2EFE8;


/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* Link */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 6px;

width: 111.36px;
height: 36px;

border-radius: 10px;

/* Auto layout por dentro */
flex: none;
order: 2;
flex-grow: 0;


/* biblioteca-default  */

width: 16.36px;
height: 15px;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 4.17%;
right: 70.83%;
top: 4.55%;
bottom: 13.64%;

border: 0.886364px solid #F2EFE8;


/* Vector */

position: absolute;
left: 70.83%;
right: 4.17%;
top: 9.09%;
bottom: 13.64%;

border: 0.886364px solid #F2EFE8;


/* Vector */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 18.18%;
bottom: 13.64%;

opacity: 0.55;
border: 0.681818px solid #F2EFE8;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 90.91%;
bottom: 9.09%;

border: 0.886364px solid #F2EFE8;


/*  Biblioteca */

width: 73px;
height: 20px;

font-family: 'Sora';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #F2EFE8;


/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* Link */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 6px;

width: 84px;
height: 36px;

border-radius: 10px;

/* Auto layout por dentro */
flex: none;
order: 3;
flex-grow: 0;


/* forum-default */

width: 16px;
height: 14.08px;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 4%;
right: 4%;
top: 4.55%;
bottom: 4.55%;

border: 0.832px solid #F2EFE8;


/* Vector */

position: absolute;
left: 20%;
right: 20%;
top: 27.27%;
bottom: 72.73%;

opacity: 0.55;
border: 0.448px solid #F2EFE8;


/* Vector */

position: absolute;
left: 20%;
right: 36%;
top: 50%;
bottom: 50%;

opacity: 0.55;
border: 0.384px solid #F2EFE8;


/*  Fórum */

width: 46px;
height: 20px;

font-family: 'Sora';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #F2EFE8;


/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* Link */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 6px;

width: 96px;
height: 36px;

border-radius: 10px;

/* Auto layout por dentro */
flex: none;
order: 4;
flex-grow: 0;


/* suporte-default */

width: 16px;
height: 11.69px;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 11.54%;
right: 11.54%;
top: 5.26%;
bottom: 36.84%;

border: 0.8px solid #F2EFE8;


/* Vector */

position: absolute;
left: 19.23%;
right: 19.23%;
top: 15.79%;
bottom: 36.84%;

opacity: 0.55;
border: 0.430769px solid #F2EFE8;


/* Vector */

position: absolute;
left: 3.85%;
right: 80.77%;
top: 57.89%;
bottom: 5.26%;

border: 0.738462px solid #F2EFE8;


/* Vector */

position: absolute;
left: 80.77%;
right: 3.85%;
top: 57.89%;
bottom: 5.26%;

border: 0.738462px solid #F2EFE8;


/*  Suporte */

width: 58px;
height: 20px;

font-family: 'Sora';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #F2EFE8;


/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* Link */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 6px;

width: 81px;
height: 36px;

border-radius: 10px;

/* Auto layout por dentro */
flex: none;
order: 5;
flex-grow: 0;


/* sobre-default  */

width: 16px;
height: 16px;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 5%;
right: 5%;
top: 5%;
bottom: 5%;

border: 1.04px solid #F2EFE8;


/* Vector */

position: absolute;
left: 17.5%;
right: 17.5%;
top: 17.5%;
bottom: 17.5%;

opacity: 0.55;
border: 0.52px solid #F2EFE8;


/* Vector */

position: absolute;
left: 42.5%;
right: 42.5%;
top: 20%;
bottom: 65%;

background: #F2EFE8;


/* Vector */

position: absolute;
left: 42.5%;
right: 42.5%;
top: 42.5%;
bottom: 20%;



/*  Sobre */

width: 43px;
height: 20px;

font-family: 'Sora';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #F2EFE8;


/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

box-sizing: border-box;

/* Layout automático */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 11.995px -9.53674e-06px 0px 0px;
gap: 8px;

width: 354px;
height: 46.1px;

border-top: 1.10776px solid #F5F5F4;

/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1171275876 */

/* Layout automático */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 354px;
height: 33px;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 4px;

width: 173px;
height: 33px;

background: #BA9130;
border-radius: 14px;

/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 1;


/* Criar Conta */

width: 76px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* idêntico à altura da caixa */
text-align: center;

color: #F2EFE8;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 4px;

width: 173px;
height: 33px;

border: 1px solid #F2EFE8;
border-radius: 14px;

/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 1;


/* Entrar */

width: 40px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* idêntico à altura da caixa */
text-align: center;

color: #F2EFE8;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;
